.row
  .large-12.columns
    #logo
    %ul#slideshow{data: {orbit: true}}
      %li
        = image_tag "orbit/foram1.jpg", alt: "slide 1"
        / .orbit-caption
        /   This is a foram
      %li
        = image_tag "orbit/foram2.jpg", alt: "slide 2"
        / .orbit-caption
        /   This is a foram 2
      %li
        = image_tag "orbit/foram3.jpg", alt: "slide 3"
        / .orbit-caption
        /   This is a foram 3
#content.row
  .large-9.columns
    %dl.tabs{data: {tab: true}}
      %dd.active
        = link_to "Goal", "#goal"
      %dd
        = link_to "Legacy", "#legacy"
      %dd
        = link_to "Committee", "#committee"
    .tabs-content
      .content.active#goal
        %h2
          The paul Brönnimann Foundation
        %p
          La Fondation PAUL BRÖNNIMANN regroupe des personnes de l'entourage du scientifique et a pour but de promouvoir l'encouragement de la recherche dans le domaine de la micropaléontologie. Les moyens d'actions de la Fondation sont notamment les revenus du capital et les donations qui lui sont faites.
        %p
          Participate directly to research on Foraminifers
          = link_to "Donate<i class='fi fi-arrow-right'></i>".html_safe, home_donations_path, class: "button button-lrg home-donate-button right"
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .content#legacy
        %h2
          The legacy of Paul Brönnimann (1913-1993)
        %h3
          by his friend and collaborator, John Whittaker (13th January, 1993)
        %p
          The loved ones of Paul Brönnimann, to his distinguished and learned colleagues and his many friends, I offer my sincere condolences on his passing. However, let us not be sad; he would not have wanted us to be. Let us, instead, celebrate the wonderful life of this remarkable scientist. He was a micropalaeontologist of truly international renown, who can be mentioned and will be remembered amongst the all-time 'greats', men such as Alcide d'Orbigny, H.B. Brady, and more recently Joseph Cushman and Paul's great friend Waiter Blow. He had several foraminiferal genera (to my knowledge, Bronnimannella, Bronnimannia, Bronnimannina) and many species of both foraminifera and nannofossils named after him. Through these and through his amazing output of many hundreds of papers over a 55-year scientific career, he will be long remembered.
        %p
          Paul's first scientific paper known to me is on the larger foraminifera Asterocyclina from Morocco, published in 1938, which I believe was based on part of his Ph.D. study. His last one, to be published (with me) in a few week's time is on the revision of the agglutinating foraminifera of the Millett Collection, from the Malay Archipelago; we still had several papers in preparation or planned and I can assure you I will do my utmost to see them through to press. To the very end, he was working several hours a day on his beloved foraminifera and as productive as at any point of his scientific life. It is interesting to relate that the larger foraminifera and the agglutinating foraminifera, the subject of his first and last papers, remained his "favourites" throughout his life.
        %p
          Paul began his scientific career in Basel, where he obtained a teaching diploma in 1938, and a year later his doctorate in Geology and Palaeontology under the direction of his great mentor, Manfred Reichel. The War intervened and he was called into service but, being Paul, he still managed to spend several months at the University of Lausanne, which enabled him to publish his thesis on the Cenozoic larger foraminifera from N.W. Morocco. In 1944 he was given an appointment at the University of Berne but two years later he left Switzerland and sailed for Trinidad, in the West lndies, where he was to begin a micropalaeontological career that would take him over much of the world. His first post was that of Palaeontologist and Senior Stratigrapher with Trinidad Leaseholds in Point-A-Pierre. Here, he began work on planktonic foraminifera for the first time and also became interested in mangrove swamps and their foraminifera (particularly the agglutinating forms). In Trinidad he met many of his most famous friends and colleagues, Waiter Blow, Hans Bolli, Hans Kugler and Hans Renz. His work on mangroves resulted in a collaboration with Cushman himself, no less. In 1952, Paul moved on to Havana, Cuba, as Head of the Geological Laboratory of the Gulf Oil Company and then in 1957, of Esso Standard Oil. It was in Cuba that he met Noel Brown, a close friend until his untimely death, and Pedro Bermodez. From his collecting forays in Cuba, he published several papers on Cretaceous planktonic and larger foraminifera, culminating in his classic paper (with Danilo Rigassi), entitled "Contribution to the Geology and Palaeontology of the area of the City of La Habana". At the same time, Paul began to be interested in other groups of fossils including the calpionellids, coprolites, planktonic crinoids and nannofossils. In 1955 he published a tentative zonation of the nannofossil genus Nannoconus which was remarkable for its time.
        %p
          This happy and prolific episode of his career came to a sudden end with the Cuban Revolution in 1959. He had to leave and went next to Tripoli, Libya, where he was appointed Senior Palaeontologist and Head of the Geological Laboratory of Esso Standard Libya. In 1962 he moved on again to the Esso Laboratories at Bègles, S.W. France. A year later, however, he had quit the Oil Industry and returned to Switzerland. He had accepted the post of Professor of Palaeontology at the University of Geneva, a post he would hold until his retirement in 1982 with the title of Honorary Professor. Academic life offered him great possibilities to take up his research again in earnest; he certainly made the best of the opportunity.
        %p
          He met his then student, Louisette (Professor Zaninetti), and they began the study of Triassic foraminifera, then an almost completely neglected field. In truth, they together put Triassic foraminifera on the map and were the first to realise their biostratigraphic potential. They travelled widely to collect material in the European Alps, Iran, Pakistan and Turkey. Also, with Louisette, he rekindled his researches on mangrove foraminifera which he had all but abandoned 15 years previously. The work on the mangrove environment was to take them both to Brazil, the United States and the Pacific islands. He was still working on mangrove foraminifera up to the time of his death.
        %p
          Latterly, Paul worked almost exclusively on agglutinating foraminifera, their wall structure, systematics and ecology. This lead to his collaboration with me. I first met him in Geneva in 1973, actually when I went to see Louisette about some supposedly Triassic foraminifera from Burma. This was my first project, having just joined the British Museum of Natural History straight from University. These foraminifera were for all the world like, and had been identified by me as, Triasina, a well-known pillared late Triassic form, but the wall structure looked different (perhaps it was diagenesis, I thought) and more curiously, they seemed to be associated stratigraphically with rare Permian fusulines (reworking, I told myself). Paul kindly looked at these specimens for me. If I remember correctly, he spent half the night looking at them. The result was that he identified them as a previously unknown late Permian pillared porcelaneous foraminifera (of totally different wall structure); this was later to be named by us, Shanita. Thanks to him the paper I had written was withdrawn in time (it was ready to go to press) and I was saved from making my first colossal scientific blunder. I remember him, somewhat austerely, lecturing me on the pitfalls of homeomorphy in foraminifera. I think I learnt my first big lesson from him. In 1976 he came to London to study the agglutinating foraminifera of the Brady and the Heron-Alien & Eariand collections. He was to make many more visits to us and was to become a most welcome "regular". In the course of his research, Paul was also a frequent visitor to the collections of the United States National Museum of Natural History, Washington, D.C. (Smithsonian Institution), where he enjoyed many stimulating discussions with Richard Cifelli, Ruth Todd and his great friend Ken Towe.
        %p
          Speaking for myself, I particularly remember and treasure our informal chats over a good lunch and a bottle of wine at the "Piccola Venezia" Italian Restaurant in South Kensington, London. We talked about taxonomic problems, future projects (there always seemed so much still to do); sometimes, he reminisced about his times in Trinidad, Cuba and other exotic places. Some of the stories were unprintable. He had known practically everyone in the field in those days. How remarkable, I thought, to talk to someone who had actually known and worked with Cushman. Between us, we published about 30 joint papers (some with Louisette and their Italian colleagues from Perugia and Florence) and one book. if my contribution was anything it was to enable him to continue his enthusiasm for the foraminifera and to continue to publish long after his "retirement'. I made most of the scanning electron micrographs, got the data together, edited the manuscripts, wrote the odd bits, it is true, but the real scientific contribution was Paul's. The depth of his experience (he had worked on virtually all groups of foraminifera from Triassic to Recent), the quality of his observations, his beautiful line drawings, the care of his descriptions and his originality of thought, were his trademark. He never tired of his interest in the foraminifera. I was the one who often appeared tired as I endeavoured to keep up with him! Usually, I had two or three letters a week, all exhorting me to photograph this or that specimen, provide a photocopy of a paper, or complete the editing of a manuscript. If I didn't write or phone him for a week or so, he would write, "I haven't heard from you for some time. Why haven't you written?" He was always in a hurry, perhaps he realised that he wouldn't go on for ever. We were working on a revision of the agglutinating foraminifera of Clare Island, Western Ireland, when he died. I had spoken to him only a few days previously by telephone (1 feel privileged for that) and had just received a letter from him dated the 5th January, when I had a telephone call from Perugia informing me that he had passed away quietly on the night of the 6th. It has not yet sunk in that he has gone, as I am sure it hasn't with you. I remember so many good things about him, especially his enthusiasm and his encouragement. This, I believe, all his students also felt.
        %p
          What was he proud of? What would he like to be remembered for? I think he was proud of his work with Louisette; his Cuban work, especially the Cretaceous larger foraminifera and his paper with Rigassi; his classic paper (with Johanna Resig) on the Neogene planktonic foraminifera of DSDP Leg 7, S.W. Pacific; his innovative work on the wall-structure of the agglutinating foraminifera, and I would like to think, of our little book on the revision of the trochamminids from the Discovery expeditions. Other people may have other opinions. I doubt if anyone would disagree, however, that his proudest scientific moment was in 1984, when he learnt that he had been given the Joseph A. Cushman Award for, so the citation reads, "Outstanding Achievement in Foraminiferal Research". This was surely the ultimate recognition of his peers.
        %p
          Paul was a kind and generous man. He was a great benefactor of the British Museum of Natural History and the Smithsonian Institution, and no doubt of other museums. On a personal level, I paid several visits to Geneva, the Val d'Aosta and Perugia to work with him and to undertake fieldwork; his hospitality was renowned and gives me many pleasant memories. My little 5-year old son was named Dominic Paul, the Paul being in his honour. He always asked after him and "sent a special hug for my little friend" at the end of every letter. I often sent him photographs of the little boy as he was growing up, which he was pleased to receive. "I have them on my desk", he told me, "and I often talk to him'. They never met, much to my regret, although he always sent him a most generous present at Christmas.
        %p
          It was an honour to have known Paul Brönnimann, and it is a great pleasure and privilege for me to be asked by his son Martin and by Louisette, to give this panegyric. The entire micropalaeontological community send their sincere condolences to his family; but, I repeat, let us not be lachrymose, he would not have wanted it that way.
        %p
          When I knew him, Paul was a very early riser, and worked all morning, but he got tired by the afternoon and often went to bed. "I'm through", he would say. Paul's life is now "through", a few weeks short of his 80th birthday, but he had lived it to the full. What a life!; "la bonne vie !". Who could have wanted for more?
        %p
          John E. Whittaker,
          %br London
      .content#committee
        %h3
          The foundation committee
        .committee
          .panel.clearfix.committee-member
            = image_tag "committee/pawlowski.jpg", class: "th"
            .left
              %h5 Prof. Jan Pawlowski
              %p
                Head of the foundation
          .panel.clearfix.committee-member
            = image_tag "committee/holzmann.jpg", class: "th"
            .left
              %h5 Dr. Maria Holzmann
              %p
                Scientific advisor
  .large-3.columns
    #news.panel
      %h3 Latest news
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      = link_to "Read more", "#"
    #artwork
      %h3 Artwork of the month
      %figure
        = image_tag "artwork.jpg", alt: "An awesome picture"
        %figcaption
          This is awesome artwork by an awesome artist
      = link_to "See other artwork", "#"
