.row
  .large-5.columns
    = link_to "Fondation Paul Brönnimann", root_path, id: "logo"
  .large-7.columns
    %ul#slideshow{data: {orbit: true}}
      %li
        = image_tag "orbit/foram4.jpg", alt: "slide 3"
      %li
        = image_tag "orbit/obadia.jpg", alt: "artwork by Cyril obadia"
.row
  .large-8.columns
    %h2
      The paul Brönnimann Foundation
    %p
      La Fondation PAUL BRÖNNIMANN regroupe des personnes de l'entourage du scientifique et a pour but de promouvoir l'encouragement de la recherche dans le domaine de la micropaléontologie. Les moyens d'actions de la Fondation sont notamment les revenus du capital et les donations qui lui sont faites.
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .row
      .large-6.columns
        = link_to "Apply to FPB award", awards_path, class: "button home-button"
      .large-6.columns
        = link_to "Submit artwork", artworks_path, class: "button home-button"
  .large-4.columns
    #news.panel
      %h2 News
      %h3= @new.title
      %p= @new.content
      = link_to "all published news", news_index_path
