.row
  .small-5.columns
    = link_to "Fondation Paul Brönnimann", root_path, id: "logo"
  .small-7.columns
    %ul#slideshow{data: {orbit: true}}
      %li
        = image_tag "orbit/foram4.jpg", alt: "slide 3"
      %li
        = image_tag "orbit/obadia.jpg", alt: "artwork by Cyril obadia"
.row
  .small-8.columns
    %h2
      Promoting research on foraminifera
    %p
      The Paul Brönnimann Foundation was established in 1993 with the objective to support the research on micropaleontology and biology of foraminifera. The Foundation particularly encourages the study of modern foraminifera, including non-fossilized species, which are not very well known even to specialists. We promote the use of genetic and genomic techniques for studying the diversity of living foraminifera, reconstructing their evolutionary relationships and revising their classification.
    %p
      = "In 2014-2015, the Foundation will support projects concerning <strong>the integrated taxonomy of modern foraminifera</strong>. Its aim is to link traditional morphotaxonomy and molecular data for the description of new foraminiferal species,  taxonomic revisions and other studies of foraminiferal diversity. The Foundation will facilitate access to molecular systematic tools, by providing a platform to obtain genetic data and assisting in their analysis. It can also help with the collection of samples and documentation of the morphology of examined species, if necessary.".html_safe
    .row
      .small-6.columns
        = link_to "Apply for a FPB grant", awards_path, class: "button home-button"
  .small-4.columns
    #news.panel
      %h2 News
      %h3= @new.title
      %p=raw @new.content
      = link_to "All news", news_index_path
    #artworks.panel
      %h2 Foram artworks
      %p
        Our artwork gallery presents photos, drawings, poems or any other artwork inspired by the intrinsic beauty of foraminiferal tests, their varied and uncommon forms and particular life traits.
      = link_to "Artwork gallery", artworks_path
