= title @title
.row
  .large-12.columns
    %h1= @title
    %ul.disc
      %li
        = link_to "foramBarcoding: The molecular database of foraminifera", "http://forambarcoding.unige.ch"
      %li
        = link_to "The Cushman Foundation for Foraminiferal Research", "http://www.cushmanfoundation.org"
      %li
        = link_to "The Grzybowski Foundation", "http://www.gf.tmsoc.org"
      %li
        = link_to "eForams: up-to-date knowledge and resources on foraminifera", "http://eforams.org"
